<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MultiBrowserSuite">
    <test name="TestChrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.selenium.project.TestCases.LoginClass"/>
        </classes>
    </test>
</suite>